.right-div {
  width: 67%;
  border-collapse: collapse;
  border-radius: 10px;
  background-color: rgb(180, 182, 240);
  padding: 20px;

  button {
    background-color: rgb(101, 105, 204);
    color: white;
    font-weight: bold;
  }

  table th,
  table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
}
